<%= form_with(model: adoption_application, local: true) do |form| %>
  <% if adoption_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(adoption_application.errors.count, "error") %> prohibited this adoption_application from being saved:</h2>

      <ul>
      <% adoption_application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <p>Thank you for your interest in our dogs. Please fill all fields in completely so that we can best help select
the right per for you. Remember to save your information in the form prior to submitting your application.
All information is treated as confidential. Submission of this application does not guarantee that you will receive
a dog. Applications without addresses and phone numbers will be discarded. Applications could take up to one
week or more to process. Approved applicants will be contacted by a rescue volunteer.</p>

  <div class="field form-group">
    <%= form.label :name, "Name(s)" %>
    <%= form.text_field :name, class: "form-control col-md-4" %>
  </div>

  <div class="field form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control col-md-8" %>
  </div>

  <div class="row">
    <div class="field form-group col-md-4">
      <%= form.label :city %>
      <%= form.text_field :city, class: "form-control" %>
    </div>

    <div class="field form-group col-md-3">
      <%= form.label :state %>
      <%= form.text_field :state, class: "form-control" %>
    </div>

    <div class="field form-group col-md-2">
      <%= form.label :zip %>
      <%= form.text_field :zip, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="field form-group col-md-3">
      <%= form.label :cell_phone %>
      <%= form.text_field :cell_phone, placeholder: "(123) 456-7890", class: "form-control" %>
    </div>

    <div class="field form-group col-md-3">
      <%= form.label :work_phone %>
      <%= form.text_field :work_phone, placeholder: "(123) 456-7890", class: "form-control" %>
    </div>

    <div class="field form-group col-md-5">
      <%= form.label :email %>
      <%= form.text_field :email, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="field form-group col-md-6">
      <%= form.label :hear_about, "Where did you hear about Puppies and More Rescue?" %>
      <%= form.text_area :hear_about, class: "form-control" %>
    </div>

    <div class="field form-group col-md-2">
      <%= form.label :own_rent, "Do you own or rent?" %>
      <%= form.text_field :own_rent, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="field form-group col-md-6">
      <%= form.label :current_address_length, "How long have you been at your current address?" %>
      <%= form.text_field :current_address_length, class: "form-control" %>
    </div>

    <div class="field form-group col-md-6">
      <%= form.label :home_type, "Type of home (Single-Family House, Duplex, Apartment, Mobile Home):" %>
      <%= form.text_field :home_type, class: "form-control" %>
    </div>
  </div>

  <div class="field form-group">
    <%= form.label :future_move, "Do you have plans of moving within the year?" %>
    <%= form.radio_button :future_move, '1' %>
    <%= label :future_move_yes, 'Yes' %>
    <%= form.radio_button :future_move, '0' %>
    <%= label :future_move_no, 'No' %>
  </div>

  <div class="field form-group">
    <%= form.label :lease_permit, "Does your lease permit dogs?" %>
    <%= form.radio_button :lease_permit, '1' %>
    <%= label :lease_permit_yes, 'Yes' %>
    <%= form.radio_button :lease_permit, '0' %>
    <%= label :lease_permit_no, 'No' %>
  </div>

  <div class="field form-group">
    <%= form.label :pet_restrictions, "Are there any breed or size restrictions?" %>
    <%= form.radio_button :pet_restrictions, '1' %>
    <%= label :pet_restrictions_yes, 'Yes' %>
    <%= form.radio_button :pet_restrictions, '0' %>
    <%= label :pet_restrictions_no, 'No' %>
  </div>

  <div class="field form-group">
    <%= form.label :pet_restrictions_description, "If yes, explain:" %>
    <%= form.text_area :pet_restrictions_description, class: "form-control col-md-5" %>
  </div>

  <div class="row">
    <div class="field form-group col-md-3">
      <%= form.label :landlord_name %>
      <%= form.text_field :landlord_name, class: "form-control" %>
    </div>

    <div class="field form-group col-md-3">
      <%= form.label :landlord_phone %>
      <%= form.text_field :landlord_phone, placeholder: "(123) 456-7890", class: "form-control" %>
    </div>
  </div>

  <div class="field form-group">
    <%= form.label :volunteer_visit, "Will you welcome a Rescue Volunteer to conduct a short home visit?" %>
    <%= form.radio_button :volunteer_visit, '1' %>
    <%= label :volunteer_visit_yes, 'Yes' %>
    <%= form.radio_button :volunteer_visit, '0' %>
    <%= label :volunteer_visit_no, 'No' %>
  </div>

  <div class="field form-group">
    <%= form.label :relationship_status %>
    <%= form.text_field :relationship_status, placeholder: "Ex: Single, Married, Divorced", class: "form-control col-md-3" %>
  </div>

  <p>Age(s) of all members of household. Please include genders of children in the home.</p>

  <div class="row">
    <div class="field form-group col-md-6">
      <%= form.label :household_adults, "Adults:" %>
      <%= form.text_field :household_adults, class: "form-control" %>
    </div>

    <div class="field form-group col-md-6">
      <%= form.label :household_children, "Children:" %>
      <%= form.text_field :household_children, class: "form-control" %>
    </div>
  </div>

  <div class="field form-group">
    <%= form.label :household_other, "List others in the home who may have contact with the dog, and the relationship to you:" %>
    <%= form.text_area :household_other, class: "form-control col-md-8" %>
  </div>

  <div class="row">
    <div class="field form-group col-md-6">
      <%= form.label :occupations, "Occupation of head of household and of partner (if applicable):" %>
      <%= form.text_field :occupations, class: "form-control" %>
    </div>

    <div class="field form-group col-md-5">
      <%= form.label :out_of_home_hours, "What are the hours you are typically out of the home?" %>
      <%= form.text_field :out_of_home_hours, placeholder: "8:00am-5:00pm", class: "form-control" %>
    </div>
  </div>

  <div class="field form-group">
    <%= form.label :work_from_home, "Does anyone in the household work from home?" %>
    <%= form.radio_button :work_from_home, '1' %>
    <%= label :work_from_home_yes, 'Yes' %>
    <%= form.radio_button :work_from_home, '0' %>
    <%= label :work_from_home_no, 'No' %>
  </div>

  <div class="field form-group">
    <%= form.label :why_adopt, "Why are you interested in adopting one of our pets, and what do you hope your new dog will provide for you and/or your family?" %>
    <%= form.text_area :why_adopt, class: "form-control col-md-5" %>
  </div>

  <div class="field form-group">
    <%= form.label :house_training_plan, "What is your plan for house training your dog/puppy?" %>
    <%= form.text_area :house_training_plan, class: "form-control col-md-5" %>
  </div>

  <div class="field form-group">
    <%= form.label :pet_unwanted, "What do you NOT want in the pet that you get?" %>
    <%= form.text_area :pet_unwanted, class: "form-control col-md-5" %>
  </div>

  <div class="field form-group">
    <%= form.label :behavior_advice, "If your dog exhibits behavioral or adjustment issues, will you seek advice from the Rescue?" %>
    <%= form.radio_button :behavior_advice, '1' %>
    <%= label :behavior_advice_yes, 'Yes' %>
    <%= form.radio_button :behavior_advice, '0' %>
    <%= label :behavior_advice_no, 'No' %>
  </div>

  <div class="field form-group">
    <%= form.label :other_pets %>
    <%= form.text_area :other_pets, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :pet_gender %>
    <%= form.text_field :pet_gender, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :pet_size %>
    <%= form.text_field :pet_size, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :pet_age_min %>
    <%= form.number_field :pet_age_min, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :pet_age_max %>
    <%= form.number_field :pet_age_max, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :lifetime_commitment %>
    <%= form.check_box :lifetime_commitment, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :emergency_care %>
    <%= form.text_field :emergency_care, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :day_stay %>
    <%= form.text_area :day_stay, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :night_stay %>
    <%= form.text_area :night_stay, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :fence_type %>
    <%= form.text_field :fence_type, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :fence_enclosed %>
    <%= form.check_box :fence_enclosed, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :fence_height %>
    <%= form.text_field :fence_height, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :pet_typical_day %>
    <%= form.text_area :pet_typical_day, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :vacation_plans %>
    <%= form.text_area :vacation_plans, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :pet_failure %>
    <%= form.check_box :pet_failure, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :moving_plan %>
    <%= form.text_area :moving_plan, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :emergency_expense %>
    <%= form.check_box :emergency_expense, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :general_expense %>
    <%= form.check_box :general_expense, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :puppy_class %>
    <%= form.check_box :puppy_class, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :obedience_class %>
    <%= form.check_box :obedience_class, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :pet_books %>
    <%= form.text_field :pet_books, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :breed_research %>
    <%= form.check_box :breed_research, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :obedience_recommend %>
    <%= form.check_box :obedience_recommend, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :obedience_recommend_description %>
    <%= form.text_area :obedience_recommend_description, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :obedience_pay %>
    <%= form.check_box :obedience_pay, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :current_vet_name %>
    <%= form.text_field :current_vet_name, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :current_vet_phone %>
    <%= form.text_field :current_vet_phone, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :past_vet_name %>
    <%= form.text_field :past_vet_name, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :past_vet_phone %>
    <%= form.text_field :past_vet_phone, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :references %>
    <%= form.text_area :references, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :assisting_name %>
    <%= form.text_field :assisting_name, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :assisting_phone %>
    <%= form.text_field :assisting_phone, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :additional_information %>
    <%= form.text_area :additional_information, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
