<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @adoption_application.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @adoption_application.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @adoption_application.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @adoption_application.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @adoption_application.zip %>
</p>

<p>
  <strong>Cell phone:</strong>
  <%= @adoption_application.cell_phone %>
</p>

<p>
  <strong>Work phone:</strong>
  <%= @adoption_application.work_phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @adoption_application.email %>
</p>

<p>
  <strong>Hear about:</strong>
  <%= @adoption_application.hear_about %>
</p>

<p>
  <strong>Own rent:</strong>
  <%= @adoption_application.own_rent %>
</p>

<p>
  <strong>Current address length:</strong>
  <%= @adoption_application.current_address_length %>
</p>

<p>
  <strong>Future move:</strong>
  <%= @adoption_application.future_move %>
</p>

<p>
  <strong>Home type:</strong>
  <%= @adoption_application.home_type %>
</p>

<p>
  <strong>Lease permit:</strong>
  <%= @adoption_application.lease_permit %>
</p>

<p>
  <strong>Pet restrictions:</strong>
  <%= @adoption_application.pet_restrictions %>
</p>

<p>
  <strong>Pet restrictions description:</strong>
  <%= @adoption_application.pet_restrictions_description %>
</p>

<p>
  <strong>Landlord name:</strong>
  <%= @adoption_application.landlord_name %>
</p>

<p>
  <strong>Landlord phone:</strong>
  <%= @adoption_application.landlord_phone %>
</p>

<p>
  <strong>Volunteer visit:</strong>
  <%= @adoption_application.volunteer_visit %>
</p>

<p>
  <strong>Relationship status:</strong>
  <%= @adoption_application.relationship_status %>
</p>

<p>
  <strong>Household adults:</strong>
  <%= @adoption_application.household_adults %>
</p>

<p>
  <strong>Household children:</strong>
  <%= @adoption_application.household_children %>
</p>

<p>
  <strong>Household other:</strong>
  <%= @adoption_application.household_other %>
</p>

<p>
  <strong>Occupations:</strong>
  <%= @adoption_application.occupations %>
</p>

<p>
  <strong>Out of home hours:</strong>
  <%= @adoption_application.out_of_home_hours %>
</p>

<p>
  <strong>Work from home:</strong>
  <%= @adoption_application.work_from_home %>
</p>

<p>
  <strong>Why adopt:</strong>
  <%= @adoption_application.why_adopt %>
</p>

<p>
  <strong>House training plan:</strong>
  <%= @adoption_application.house_training_plan %>
</p>

<p>
  <strong>Pet unwanted:</strong>
  <%= @adoption_application.pet_unwanted %>
</p>

<p>
  <strong>Behavior advice:</strong>
  <%= @adoption_application.behavior_advice %>
</p>

<p>
  <strong>Other pets:</strong>
  <%= @adoption_application.other_pets %>
</p>

<p>
  <strong>Pet gender:</strong>
  <%= @adoption_application.pet_gender %>
</p>

<p>
  <strong>Pet size:</strong>
  <%= @adoption_application.pet_size %>
</p>

<p>
  <strong>Pet age min:</strong>
  <%= @adoption_application.pet_age_min %>
</p>

<p>
  <strong>Pet age max:</strong>
  <%= @adoption_application.pet_age_max %>
</p>

<p>
  <strong>Lifetime commitment:</strong>
  <%= @adoption_application.lifetime_commitment %>
</p>

<p>
  <strong>Emergency care:</strong>
  <%= @adoption_application.emergency_care %>
</p>

<p>
  <strong>Day stay:</strong>
  <%= @adoption_application.day_stay %>
</p>

<p>
  <strong>Night stay:</strong>
  <%= @adoption_application.night_stay %>
</p>

<p>
  <strong>Fence type:</strong>
  <%= @adoption_application.fence_type %>
</p>

<p>
  <strong>Fence enclosed:</strong>
  <%= @adoption_application.fence_enclosed %>
</p>

<p>
  <strong>Fence height:</strong>
  <%= @adoption_application.fence_height %>
</p>

<p>
  <strong>Pet typical day:</strong>
  <%= @adoption_application.pet_typical_day %>
</p>

<p>
  <strong>Vacation plans:</strong>
  <%= @adoption_application.vacation_plans %>
</p>

<p>
  <strong>Pet failure:</strong>
  <%= @adoption_application.pet_failure %>
</p>

<p>
  <strong>Moving plan:</strong>
  <%= @adoption_application.moving_plan %>
</p>

<p>
  <strong>Emergency expense:</strong>
  <%= @adoption_application.emergency_expense %>
</p>

<p>
  <strong>General expense:</strong>
  <%= @adoption_application.general_expense %>
</p>

<p>
  <strong>Puppy class:</strong>
  <%= @adoption_application.puppy_class %>
</p>

<p>
  <strong>Obedience class:</strong>
  <%= @adoption_application.obedience_class %>
</p>

<p>
  <strong>Pet books:</strong>
  <%= @adoption_application.pet_books %>
</p>

<p>
  <strong>Breed research:</strong>
  <%= @adoption_application.breed_research %>
</p>

<p>
  <strong>Obedience recommend:</strong>
  <%= @adoption_application.obedience_recommend %>
</p>

<p>
  <strong>Obedience recommend description:</strong>
  <%= @adoption_application.obedience_recommend_description %>
</p>

<p>
  <strong>Obedience pay:</strong>
  <%= @adoption_application.obedience_pay %>
</p>

<p>
  <strong>Current vet name:</strong>
  <%= @adoption_application.current_vet_name %>
</p>

<p>
  <strong>Current vet phone:</strong>
  <%= @adoption_application.current_vet_phone %>
</p>

<p>
  <strong>Past vet name:</strong>
  <%= @adoption_application.past_vet_name %>
</p>

<p>
  <strong>Past vet phone:</strong>
  <%= @adoption_application.past_vet_phone %>
</p>

<p>
  <strong>References:</strong>
  <%= @adoption_application.references %>
</p>

<p>
  <strong>Assisting name:</strong>
  <%= @adoption_application.assisting_name %>
</p>

<p>
  <strong>Assisting phone:</strong>
  <%= @adoption_application.assisting_phone %>
</p>

<p>
  <strong>Additional information:</strong>
  <%= @adoption_application.additional_information %>
</p>

<%= link_to 'Edit', edit_adoption_application_path(@adoption_application) %> |
<%= link_to 'Back', adoption_applications_path %>
