<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @foster_application.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @foster_application.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @foster_application.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @foster_application.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @foster_application.zip %>
</p>

<p>
  <strong>Email:</strong>
  <%= @foster_application.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @foster_application.phone %>
</p>

<p>
  <strong>Cell phone:</strong>
  <%= @foster_application.cell_phone %>
</p>

<p>
  <strong>Hear about:</strong>
  <%= @foster_application.hear_about %>
</p>

<p>
  <strong>Why volunteer:</strong>
  <%= @foster_application.why_volunteer %>
</p>

<p>
  <strong>Phone calls interest:</strong>
  <%= @foster_application.phone_calls_interest %>
</p>

<p>
  <strong>Home visits interest:</strong>
  <%= @foster_application.home_visits_interest %>
</p>

<p>
  <strong>App review interest:</strong>
  <%= @foster_application.app_review_interest %>
</p>

<p>
  <strong>Foster interest:</strong>
  <%= @foster_application.foster_interest %>
</p>

<p>
  <strong>Fundraising interest:</strong>
  <%= @foster_application.fundraising_interest %>
</p>

<p>
  <strong>Other interest:</strong>
  <%= @foster_application.other_interest %>
</p>

<p>
  <strong>Pet name:</strong>
  <%= @foster_application.pet_name %>
</p>

<p>
  <strong>Pet type:</strong>
  <%= @foster_application.pet_type %>
</p>

<p>
  <strong>Pet age:</strong>
  <%= @foster_application.pet_age %>
</p>

<p>
  <strong>Pet sex:</strong>
  <%= @foster_application.pet_sex %>
</p>

<p>
  <strong>Pet neutered:</strong>
  <%= @foster_application.pet_neutered %>
</p>

<p>
  <strong>Aggression issues:</strong>
  <%= @foster_application.aggression_issues %>
</p>

<p>
  <strong>Aggression explanation:</strong>
  <%= @foster_application.aggression_explanation %>
</p>

<p>
  <strong>Vet hospital info:</strong>
  <%= @foster_application.vet_hospital_info %>
</p>

<p>
  <strong>References:</strong>
  <%= @foster_application.references %>
</p>

<p>
  <strong>Foster experience:</strong>
  <%= @foster_application.foster_experience %>
</p>

<p>
  <strong>Foster experience explanation:</strong>
  <%= @foster_application.foster_experience_explanation %>
</p>

<p>
  <strong>Family allergies:</strong>
  <%= @foster_application.family_allergies %>
</p>

<p>
  <strong>Family allergies explanation:</strong>
  <%= @foster_application.family_allergies_explanation %>
</p>

<p>
  <strong>Number in home:</strong>
  <%= @foster_application.number_in_home %>
</p>

<p>
  <strong>Children in home:</strong>
  <%= @foster_application.children_in_home %>
</p>

<p>
  <strong>Children ages:</strong>
  <%= @foster_application.children_ages %>
</p>

<p>
  <strong>Primary caretaker:</strong>
  <%= @foster_application.primary_caretaker %>
</p>

<p>
  <strong>Secondary caretaker:</strong>
  <%= @foster_application.secondary_caretaker %>
</p>

<p>
  <strong>Home type:</strong>
  <%= @foster_application.home_type %>
</p>

<p>
  <strong>Own home:</strong>
  <%= @foster_application.own_home %>
</p>

<p>
  <strong>Landlord name:</strong>
  <%= @foster_application.landlord_name %>
</p>

<p>
  <strong>Landlord phone:</strong>
  <%= @foster_application.landlord_phone %>
</p>

<p>
  <strong>Pets allowed:</strong>
  <%= @foster_application.pets_allowed %>
</p>

<p>
  <strong>Fenced yard:</strong>
  <%= @foster_application.fenced_yard %>
</p>

<p>
  <strong>Where foster kept:</strong>
  <%= @foster_application.where_foster_kept %>
</p>

<p>
  <strong>Where foster sleep:</strong>
  <%= @foster_application.where_foster_sleep %>
</p>

<p>
  <strong>Where left alone:</strong>
  <%= @foster_application.where_left_alone %>
</p>

<p>
  <strong>Family commitment:</strong>
  <%= @foster_application.family_commitment %>
</p>

<p>
  <strong>Signature:</strong>
  <%= @foster_application.signature %>
</p>

<p>
  <strong>Date:</strong>
  <%= @foster_application.date %>
</p>

<p>
  <strong>:</strong>
  <%= @foster_application. %>
</p>

<%= link_to 'Edit', edit_foster_application_path(@foster_application) %> |
<%= link_to 'Back', foster_applications_path %>
