<!DOCTYPE html>
<html>
  <head>
    <title>Puppies And More</title>
    <title><h1>South Jersey Adoption and Foster Home Network</h1></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info sticky-top">
      <a class="navbar-brand" href="#">Puppies & More Rescue</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <span class="navbar-text">
        South Jersey Adoption and Foster Home Network          
      </span>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link <%= 'active' if current_page?('/home') %>" href="/">Home<%= (content_tag :span, "(current)", :class => "sr-only") if current_page?("/home") %></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= 'active' if current_page?('/about') %>" href="/about">About<%= (content_tag :span, "(current)", :class => "sr-only") if current_page?("/about") %></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= 'active' if current_page?('/donate') %>" href="/donate">Donate<span class="sr-only">(current)<%= (content_tag :span, "(current)", :class => "sr-only") if current_page?("/donate") %></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= 'active' if current_page?('/contact') %>" href="/contact">Contact Us<span class="sr-only">(current)<%= (content_tag :span, "(current)", :class => "sr-only") if current_page?("/contact") %></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= 'active' if current_page?('/pets') %>" href="/pets">Pets<span class="sr-only">(current)<%= (content_tag :span, "(current)", :class => "sr-only") if current_page?("/pets") %></span></a>
          <% if admin_signed_in? %>
          <li class="nav-item">
            <%= link_to("/admins/sign_out", destroy_admin_session_path, method: :delete) %>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container">
      <%= flash_messages %>
      <%= yield %>
    </div>
  </body>
</html>
