<!DOCTYPE html>
<html>
  <head>
    <title>Puppies And More</title>
    <title><h1>South Jersey Adoption and Foster Home Network</h1></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1>Puppies And More</h1>
    <h1>South Jersey Adoption and Foster Home Network</h1>
    <%= yield %>
  </body>
</html>
