<!DOCTYPE html>
<html>
  <head>
    <title>Puppies and More Rescue – South Jersey Adoption and Foster Home Network</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" id="font-awesome-css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css?ver=2.2.0.6" type="text/css" media="all">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
      <a class="navbar-brand">Puppies & More Rescue</a>
      <span class="navbar-text">
        South Jersey Adoption and Foster Home Network          
      </span>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link <%= 'active' if current_page?('/home') %>" href="/">Home<%= (content_tag :span, "(current)", :class => "sr-only") if current_page?("/home") %></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= 'active' if current_page?('/about') %>" href="/about">About<%= (content_tag :span, "(current)", :class => "sr-only") if current_page?("/about") %></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= 'active' if current_page?('/donate') %>" href="/donate">Donate<span class="sr-only">(current)<%= (content_tag :span, "(current)", :class => "sr-only") if current_page?("/donate") %></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= 'active' if current_page?('/contact') %>" href="/contact">Contact Us<span class="sr-only">(current)<%= (content_tag :span, "(current)", :class => "sr-only") if current_page?("/contact") %></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= 'active' if current_page?('/pets') %>" href="/pets">Pets<span class="sr-only">(current)<%= (content_tag :span, "(current)", :class => "sr-only") if current_page?("/pets") %></span></a>
          <% if admin_signed_in? %>
          <li class="nav-item">
            <%= link_to("/admins/sign_out", destroy_admin_session_path, method: :delete) %>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>
  <div class="header">
    <div class="header-inner">
      <aside id="primer-header-text-2" class="widget widget_text primer-widgets primer-header-text-widget">
        <div class="textwidget primer-widgets primer-header-text-widget">
          <h2 class="widget-title">Welcome to Puppies and More Rescue</h2>
          <p>South Jersey Adoption and Foster Home Network</p>
          <p><a href="https://www.petfinder.com/pet-search?shelter_id=NJ499&amp;preview=1" class="button">View Adoptable Pets</a></p>
      </div>
      </aside>
    </div>
  </div>
  <div class="container main-content">
      <%= flash_messages %>
      <%= yield %>
  </div>
    </div>
  </body>
  <div id="footer">
  <p>© 2017 Puppies and More Rescue</p>
  <ul class="social-list text-center">
    <li class="social-item">
      <a class="social-link" target="_blank" href="https://www.facebook.com/groups/puppiesandmore/">
        <i class="fab fa-facebook-f"></i>
      </a>
      </li>
    <li class="social-item">
      <a class="social-link" target="_blank" href="https://www.facebook.com/groups/puppiesandmore/">
        <i class="fab fa-twitter"></i>
      </a>
      </li>
    <li class="social-item">
      <a class="social-link" target="_blank" href="https://www.facebook.com/groups/puppiesandmore/">
        <i class="fab fa-instagram"></i>
      </a>
      </li>
  </ul>
</html>
